<link rel="stylesheet" href="/stylesheets/layout.css">

<%= yield %>

<ul>
    <a class="active" href="/home">Home -</a>
    <a href="/all_lines">All Lines -</a>
    <a href="/note_pad">Note Pad -</a>
    <a href="/brain_storm">Brain Storm</a>
    <a href="/random_words">Random Words</a>
    <a href="/word_scramble">Word Scramble</a>
</ul>

<main>
<br>
  
</main>
