<form action="/login" method="post">
      USERNAME <input type="text" name="username" value=""><br>
      PASSWORD <input type="text" name="password" value=""><br>
      <input type="submit" value="Submit">
      </form>