<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Lines</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/all_lines.css">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    
  </head>
  <body>
   
    <!-- display  -->
    <span>
      <div class="section1">
        
        <table>
          <tr>
            <th># </th>
            <th>Line</th>
            <th>Save?</th>
            
          </tr>
          
          <% count = 1 %>
          <%@shuffled.each do |line| %>
            <tr>
              <td><%= count %></td>
              <td><%= line %></td>
            </tr>
            <% count+= 1 %>
          <% end %>
        </table>
       
      </div>
      </span>
      
  </body>
</html>